{% extends "layout.html" %}
{% block title %}Image Board{% endblock %}
{% block content %}
<form action="{{ url_for('add_image') }}" method=post enctype=multipart/form-data>
    {{ form.csrf }}
    {% if not session.logged_in %}
        {{ form.name.label }}{{ form.name(value="Anonymous") }}<br />
    {% endif %}
    {{ form.upload.label }}{{ form.upload }}<br/>
    {{ form.note.label }}{{ form.note }}<br/>
    {{ form.tags.label }}{{ form.tags }}<br/>
    <input type="submit" value="Upload"><br />
</form>

{% for message in get_flashed_messages() %}
    <div class="AlignCenter">{{ message }}</div>
{% endfor %}

<div id='ImageboardPageTop'>
    {# TODO: Paginate like a motherfucker #}
    Hi this is where pagination will go
</div>
<div id="ImageboardContainer">
    {% for post in posts %}
    <div class="ImageboardThumb">
        <div>
            <a href="{{ url_for('view_post', post_id=post.id) }}">
                {# <img src="{{ url_for('thumbs', post.image.filename) }}" /> #}
            </a>
            <br />
        </div>
        {{ post.title }}
        {% if not post.user.name %}
            Anonymous
        {% else %}
            {{ post.user.name }}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
