{% extends "layout.html" %}
{% block title %}Image Board{% endblock %}
{% block content %}
<form action="{{ url_for('add_image') }}" method=post enctype=multipart/form-data>
    {{ form.csrf }}
    {% if not session.logged_in %}
        {{ form.name.label }}{{ form.name(value="Anonymous") }}
    {% endif %}
    {{ form.upload.label }}{{ form.upload }}
    {{ form.note.label }}{{ form.note }}
    {{ form.tags.label }}{{ form.tags }}
    <input type="submit" value="Upload"><br />
</form>
{% endblock %}
