{% extends "layout.html" %}
{% block title %}Post: {{ post.title }}{% endblock %}
{% block content %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.min.js') }}"><\/script>')</script>
<script>
    $(document).ready(function() {
        $('img').each(function(){
            var maxw = 760;
            var ratio = 0;
    
            var w = $(this).width();
            var h = $(this).height();
    
            // Check if width larger than the max
            if(w > maxw){
                ratio = maxw / w;
                $(this).css("width", maxw);
                $(this).css("height", h * ratio);
            }
        });
        
    });
</script>
<div class="AlignCenter">
    <img class="big-thumb" src="{{ url_for('send_file', filename=post.image.filename) }}" title="{{ post.image.title }}">
    <br />
    {{ post.image.note }}
    <br />
</div>
{% endblock %}
